.App {
    height: 100%;
    box-sizing: border-box; /* fix css size bugs/feature...*/
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: repeat(6, 1fr); /* fr = Fraction*/
}
    
.App > header {
    margin: 30px;
    grid-column: span 6;
}
    
.App > main {
    margin: 30px;
    grid-column: span 3;
}
    
.App, .App > * {
    border: 1px solid black;
}