div{
    background-color: red;
    text-align: center;
    margin: 30px;
}

img{
    border: 1px solid blue;
}

p{
    background-color: greenyellow;
}

a{
    background-color: chocolate;
}

table{
    position: relative;
    top:100px;
    left:100px;
}


tr:nth-child(even){
    background-color: coral;
}
tr:nth-child(odd){
    background-color: aquamarine;
}
tr:first-child{
    background-color: purple;
}