html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    font-style: italic;
    color: rgb(9, 10, 10);
    background-image: linear-gradient(45deg, rgba(228, 98, 195, 0.603), rgb(255, 255, 255));
}

a{
    color: blue;
}

.Box {
    display: inline-block;
    text-align: left;
    border: 1px solid black;
    padding: 0 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}
